################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ARXivarNext-ConsumingWebApi/ExampleARXivarNext/obj/Debug
/ARXivarNext-ConsumingWebApi/ExampleARXivarNext/bin/Debug
/ARXivarNext-ConsumingWebApi/.vs/ARXivarNext-ConsumingWebApi/v16
/ARXivarNext-ConsumingWebApi/IO.Swagger/bin/Debug
/ARXivarNext-ConsumingWebApi/IO.Swagger/obj/Debug
/ARXivarNext-ConsumingWebApi/IO.Swagger.Management/bin/Debug
/ARXivarNext-ConsumingWebApi/IO.Swagger.Management/obj/Debug
/ARXivarNext-ConsumingWebApi/packages
