<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ARXivar.WebApi.Client.Arxivar.NetFx" version="2.5.4" targetFramework="net48" />
  <package id="JsonSubTypes" version="1.8.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="RestSharp" version="105.1.0" targetFramework="net48" />
</packages>